<footer>
    <hr>
    <h4>Resume footer goes here</h4>
  </footer>
    
  <!-- <script src="https://www.paypal.com/sdk/js?client-id=AczF_NZmU4pVaN9FeL8WOj9St9782qUfdpWG3hkta_xgod5LMXYFt02FZsl7N0dF_hx3n4_ydnAs3Uoy&components=YOUR_COMPONENTS"></script> -->
  <!-- <script src="https://www.paypal.com/sdk/js?client-id=AczF_NZmU4pVaN9FeL8WOj9St9782qUfdpWG3hkta_xgod5LMXYFt02FZsl7N0dF_hx3n4_ydnAs3Uoy&currency=USD"></script>
  <script src="/paypal_client.js"></script>
  <script src="/page1.js"></script>
  <script src="/page2.js"></script>  -->
</body>
</html>