<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Koulen&family=Lato:wght@300;400;700;900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/510a4172a7.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/style.css" />
    <script src="https://www.paypal.com/sdk/js?client-id=AczF_NZmU4pVaN9FeL8WOj9St9782qUfdpWG3hkta_xgod5LMXYFt02FZsl7N0dF_hx3n4_ydnAs3Uoy&components=YOUR_COMPONENTS"></script>
    <script src="/page1.js"></script>
    <script src="/page2.js"></script>

    <title>InterviewHacks</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navb">
      <div class="nav_l">
        <a class="navbar-brand" href="#">
          <img
            src="/logo.png"
            width="30"
            height="30"
            class="d-inline-block align-top"
            alt=""
          />
          InterviewHacksHQ.app</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="nav_r">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
            <a class="nav-item nav-link" href="#">About Us</a>
            <a class="nav-item nav-link" href="#">Login</a>
          </div>
        </div>
      </div>
    </nav>
  </body>
</html>
