<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Document</title>
  <script src="https://www.paypal.com/sdk/js?client-id=AczF_NZmU4pVaN9FeL8WOj9St9782qUfdpWG3hkta_xgod5LMXYFt02FZsl7N0dF_hx3n4_ydnAs3Uoy"></script>
  <script src="/paypal_client.js" defer></script>
</head>
<body>
  <div id="paypal"></div>
</body>
</html>