<%- include('./partials/header') %>
<title>Error</title>

  </head>
<body>
<%- include('./partials/navbar') %>
<div class="page2">
    <br><br><br>
<h2>ERROR</h2>
</div>

<%- include('./partials/footer') %>