<%- include('./partials/header') %>

<div class="page2">
    <div class="dashboard">
        <div class="dashboard_intro">My Dashboard</div>
        <div class="dashboard_search">
            searc
        </div>
    </div>
</div>

<%- include('./partials/footer') %>