<%- include('./partials/header') %>
<title>Ready !</title>
  </head>
<body>
<%- include('./partials/navbar') %>
<div class="page3">
    <h1>Success</h1>
</div>

<%- include('./partials/footer') %>