<%- include('./partials/header') %>
<title>Ready !</title>
  </head>
<body>
<%- include('./partials/navbar') %>
<div class="page3">
  <div class="pdf_sec1">
    <h1>Success</h1>
  </div>

  <div class="pdf_sec2">
    <div class="dash_section4_head">
        <h1 style="font-weight:700;">Top Interview Questions</h1>
        <p style="color:grey;">Everything you need to know to ace your interviews!</p>
    </div>
      
    <div class="pdf_display">
        <iframe src="/pdfs/q_and_a.pdf" width="100%" height="600px"></iframe>
    </div>

    <div class="pdf_button">
        <a href="/pdfs/q_and_a.pdf" download class="download-button">Download PDF</a>
    </div>

    <div class="pdf_email">
      <form id="pdf_form" method="post" action="/send-email">
        <div class="card-container">
          <div
            class="card text-center p-4 shadow"
            style="width: 25rem; border-radius: 29px; box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1), 0 25px 25px rgba(0, 0, 0, 0.1);"
          >
            <h2 class="card-title pb-3">Write Your Details</h2>

            <div class="mb-3">
              <label for="user_email" class="form-label">Your Email:</label>
              <input type="email" class="form-control" name="user_email" aria-describedby="emailHelp" required>
            </div>

            <div class="mb-3">
              <label for="user_name" class="form-label"> Your Name:</label>
              <input type="text" class="form-control" name="user_name" aria-describedby="emailHelp" required>
            </div>

            <div class="mb-3">
              <label for="">Your Phone Number</label>
              <input class="form-control" type="tel" id="mobile" name="user_phone" pattern="[0-9]{10}" required>
            </div>


          </div>
        </div>
        
        <div class="buttons">
        <button type="submit" class="btn-p">Email Me PDF</button>
      </div>
      </form>
    </div>
      
    </div>
</div>

<%- include('./partials/footer') %>