*{
    margin:0;
    padding:0;
}
body{
    background-color: #800e49;
   }
.navb{
  background-color: #790e44;
    display: flex;
    justify-content:space-between;
    padding-left: 8px;
    padding-right: 5px;
    /* align-items: */
  }
  .navb a{
    text-decoration: none;
    color: #d88bb4;
  }
.cardz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-container {
    margin: 3rem;
  }
  .card-container h2{
    color: #9d35de;
  }
  .card-container p{
    color: gray;
  }
footer{
    margin-top: 3%;
    text-align: center;
   }
